.App {
  margin: 0 auto; 
  padding: 10px;
}

.note-item {
  margin: 10px;
  padding: 10px;
}

.note-update {
  margin: 10px;
  padding: 10px;
}

.notes {
  margin: 10px;
  padding: 10px;
}

span {
  margin: 10px;
  padding: 10px;
}

.el {
  margin: 10px;
  padding: 10px;
}
